input[id="menuicon"]{
    display: none;
}
input[id="menuicon"] + label{
    display: block;
    width:25px;
    height: 20px;
    position: relative;
    top:0;
    left:0;
    cursor: pointer;
}
input[id="menuicon"] + label span{
    display: block;
    position: absolute;
    width:100%;
    height: 4px;
    border-radius: 4px;
    background: rgb(141, 141, 141);
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1){
    top:0;
}
input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom:0;
}
input[id="menuicon"]:checked + label{
    z-index: 20;
}
input[id="menuicon"]:checked + label span{
    background: rgb(255, 255, 255);
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
}
.sidebar{
    width:300px;
    height: 100%;
    background: rgb(27, 27, 27);
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 15;
    transition: all 0.35s;    
}
input[id="menuicon"]:checked + label + nav div{
    left:0;
}
input[id="menuicon"]:checked + label + nav .sidebar-bg{
    opacity: 0.7;
    visibility: visible;
}
.sidebar div{
    position: relative;
    width:100%;
    /* background: burlywood; */
}
.sidebar .sidebar-top{
    display: flex;
    justify-content: flex-end;
    top:0;
    padding: 5px 15px;
    color: rgb(122, 122, 122);
}
.sidebar .sidebar-bottom{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom:20px;
    padding: 5px 15px;
    color: rgb(122, 122, 122);
}
.sidebar span{
    color: #eee;
    font-size: 14px;
    padding:10px;
}
.sidebar ul{
    position: relative;
    top:10px;
}
.sidebar ul li::before{
    display: inline-block;
    content: "";
    width: 10px;
    height:10px;
    border-radius: 10px;
    margin-right: 15px;   
    background: rgb(80, 80, 80);
}
.sidebar ul li{
    display: block;    
    left:0;
    width:100%;
    padding: 5px 0 5px 55px;
    font-size: 18px;
    border-top: 1px solid rgb(41, 41, 41);
    border-bottom:1px solid  rgb(10, 10, 10);
}
.sidebar ul li a{      
    color:#eee;
}
.sidebar-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: rgb(0, 0, 0);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}